<h3>Q no 1 : you have some strings in variable text your task is to make a list of capital letters only using list comprehension and print that list</h3>
<h4>Hint! explore isUpper() method then do this</h4>

In [1]:
text = 'You Have Some String Int The List'

[i for i in text if i.isupper()]

['Y', 'H', 'S', 'S', 'I', 'T', 'L']

<h3>Q no 2: Make a list of numbers from 0 to 20 which is divisible by 2 using list comprehension</h3>

In [2]:
[ number for number in range(0,21,2)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

<h3>Q no 3 : Find all of the numbers from 1-1000 that are divisible by 7 by making a list using list comprehension and print it</h3>

In [3]:
[numbers for numbers in range(1,1000+1) if numbers%7==0]

[7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 70,
 77,
 84,
 91,
 98,
 105,
 112,
 119,
 126,
 133,
 140,
 147,
 154,
 161,
 168,
 175,
 182,
 189,
 196,
 203,
 210,
 217,
 224,
 231,
 238,
 245,
 252,
 259,
 266,
 273,
 280,
 287,
 294,
 301,
 308,
 315,
 322,
 329,
 336,
 343,
 350,
 357,
 364,
 371,
 378,
 385,
 392,
 399,
 406,
 413,
 420,
 427,
 434,
 441,
 448,
 455,
 462,
 469,
 476,
 483,
 490,
 497,
 504,
 511,
 518,
 525,
 532,
 539,
 546,
 553,
 560,
 567,
 574,
 581,
 588,
 595,
 602,
 609,
 616,
 623,
 630,
 637,
 644,
 651,
 658,
 665,
 672,
 679,
 686,
 693,
 700,
 707,
 714,
 721,
 728,
 735,
 742,
 749,
 756,
 763,
 770,
 777,
 784,
 791,
 798,
 805,
 812,
 819,
 826,
 833,
 840,
 847,
 854,
 861,
 868,
 875,
 882,
 889,
 896,
 903,
 910,
 917,
 924,
 931,
 938,
 945,
 952,
 959,
 966,
 973,
 980,
 987,
 994]

<h3>Q no 4 : Count the number of spaces in a string below using list comprehension and print the result</h3>

In [4]:
text = " Pakistan  Zindabad, !4 August was The Pakistan Independent Day "
count=0
#for space in text:
 #   if space==" ":
  #      count+=1
#print(count)
[ text.count(" ") ]

[11]

<h3>Q no 5 : Write a script that draws a triangle as below:</h3>

# left triangle script
for i in range(1,11):             
    for j in range(1,11):
        if j<=i:
            print("*",end=' ')    
        else:
            print(" ")

<h3>Q no 6 : Write a script that draws a geometric shape as below:</h3>

*                     k=0   
**                    for i range(1,14):
***                       if i<=4:
****                            k+=1
*****                     else:
******                         k-=1
*******                   for j in range(1,8):     
******                         if j<=k:
*****                                print("*",end=' ')
****                           else:
***                                 print(" ")
**
*

<h3>Q no 7 :Find all of the words in a string that are less than 4 letters using list comprehension</h3>

In [5]:
text1 = "14 August is the Pakistan independent day"
[word for word in  text1.split(" ") if len(word)<=4]

['14', 'is', 'the', 'day']